body {
	background: linear-gradient(-45deg, #FFFFFF, #578547, #21321B, #0B1109);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.sidenav {
  height: 100%; 
  width: 180px; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #FFFFFF;
}


.main {
  margin-left: 180px;
  padding: 0px 10px;
}


path{
	stroke: white;
	stroke-width: 2px;
	fill: none;
}

.tooltip {
        position: absolute;
        text-align: center;			
        width: 100px;					
        height: auto;					
  		padding: 6px;		
        font: 12px sans-serif;		
        background-color: white;	
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 10px;
        pointer-events: none;
    }
	
/* I think the map is backwards? */
#map {
        transform: scale(-1,1);
    }
	
.container {
        align-items: center;
	zoom: 150%;
    }
	
  #linechart {
        font-size: 6px;
        float: right;
    }

    #barchart {
        font-size: 6px;
    }

    #ageRanges {
        font-size: 6px;

    }
	
rect:hover {
	fill:blue;
}

.description {
  color: #FFFFFF;
}

.description em1 {
  color: #BBD2FA;
}

.description em2 {
  color: pink;
}

.description em3 {
  color: #CAFFFA;
}
